/*1128 임호진 수정사항*/
.custom-box img {
    width: auto; /* 이미지의 원본 비율에 따라 너비를 자동으로 설정합니다. */
    height: 100%; /* 컨테이너의 높이에 맞춥니다. */
    max-width: 100%; /* 컨테이너의 너비를 넘지 않도록 합니다. */
    object-fit: contain; /* 이미지가 컨테이너 안에서 비율을 유지하며 전체적으로 보이도록 합니다. */
    margin: auto; /* 이미지를 컨테이너 중앙에 배치합니다. */
    display: block; /* 이미지를 블록 레벨 요소로 만듭니다. */
  }

  /*1128 임호진 수정사항*/
.mini-box img {
    width: auto; /* 이미지의 원래 너비를 유지하면서 */
    height: 100%; /* mini-box의 높이에 맞춤 */
    object-fit: contain; /* 이미지가 잘리지 않고 전체적으로 보이도록 함 */
    margin: auto; /* 이미지가 박스 중앙에 오도록 정렬 */
  }
  