body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 地図のスタイル */
#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* 他の要素よりも後ろに表示 */
}



#user_link {
    width: auto;
    /* 幅を自動に変更 */
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* 左寄せに変更 */
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 2;
    padding: 0 10px;
    /* 内側の余白を追加 */
}

.user_text {
    margin-left: 10px;
    /* アイコンとテキストの間に余白を追加 */
}


#user_link img {
    width: 32px;
    height: 32px;
}

#alarm_link {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    border-radius: 20%;
    position: absolute;
    top: 80px;
    right: 20px;  /* 右側の位置を指定 */
    z-index: 2;
}

#alarm_link img {
    width: 30px;
    height: 30px;
}

/* 同意divのスタイル */
.consent-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 400px;
    z-index: 2;
    border-radius: 20px;
    /* 他の要素よりも前に表示 */
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
/* 利用契約文のスタイル */
.consent-text {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
}
/* 位置情報同意チェックボックスのスタイル */
#location-consent-checkbox {
    margin-right: 10px; /* チェックボックスの右側に余白を追加 */
    cursor: pointer;    /* マウスカーソルを指マークに変更 */
}

/* 既存のCSS */

/* メディアクエリ: 393px以下の画面サイズに適用されるスタイル */
@media (max-width: 393px) {

    /* 同意divのスタイル */
    .consent-box {
        width: 67%;
        padding: 10px;
    }

    /* 利用契約文のスタイル */
    .consent-text {
        height: auto;
    }
    #alarm_link {
        width: 40px;
        height: 40px;
        top: 20px;
    }
    #user_link {
        width: 95px;
        height: 40px;
        top: 20px;
    }

    #user_link img, #alarm_link img {
        width: 24px;
        height: 24px;
    }

    /* 追加: user_textのスタイル */
    .user_text {
        margin-left: 5px;
        white-space: nowrap;  /* ここでテキストの折り返しを防ぐ */
        overflow: hidden;  /* 必要に応じてオーバーフローを隠す */
        text-overflow: ellipsis;  /* 必要に応じて省略記号を表示 */
    }
}

